@using Resources;
@{
    Layout = $"~/_Layout.cshtml";
}
<div class="row">
    <div id="task-list-search" class="col-sm-12 input-group input-group-lg list-search">
        <input id="task-list-query" type="text" class="form-control input-lg" />
        <div class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
        </div>
    </div>
</div>

<div class="row" id="taskList">
    <p id="task-list-info" class="error-handler" style="display: none;"></p>
    <table id="taskList" class="table table-striped task-list">
        <thead>
            <tr>
                <th></th>
                <th>@Resources.AssignmentResources.Description</th>
                <th>@Resources.AssignmentResources.Actions</th>
                <th>@Resources.AssignmentResources.Status</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
            </tr>
        </tfoot>
    </table>
</div>

@taskDetailsModalView.Display()
