<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="mainDB" connectionString="Server=192.168.99.100;Database=TimeLogger;User Id=TimeLoggerApp;Password=TimeLoggerApp;" />
  </connectionStrings>

  <appSettings>
    <add key="smtp.server" value=""/>
    <add key="smtp.port" value="25"/>
    <add key="smtp.username" value="vladimir"/>
    <add key="smtp.password" value="cbO0l4?4"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />

    <sessionState mode="InProc" cookieless="false" timeout="300" />

    <authentication mode="Forms">
      <forms loginUrl="~/Login" defaultUrl="~/Home" name="TimeLogger" slidingExpiration="true" protection="None" timeout="240" />
    </authentication>
    
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>

    <membership defaultProvider="TimeLoggerProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="TimeLoggerProvider" type="TimeLogger.App.Core.Authentication.TimeLoggerProvider" connectionStringName="mainDB"
             applicationName="TimeLoggerLive.App" enablePasswordRetrieval="false" enablePasswordReset="true"
             requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed"
             minRequiredPasswordLength="16"/>
      </providers>
    </membership>

    <roleManager enabled="true" defaultProvider="TimeLoggerRoleProvider">
      <providers>
        <clear />
        <add name="TimeLoggerRoleProvider" type="TimeLogger.App.Core.Authentication.TimeLoggerRoleProvider" applicationName="TimeLoggerLive.App"
             connectionStringName="mainDB"/>
      </providers>
    </roleManager>
  </system.web>

  <location path="PasswordReset">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="PasswordResetRequest">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Register">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="api/register">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="api/resetpassword">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />

    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>

    <security>
      <requestFiltering allowDoubleEscaping="true">
        <fileExtensions>
          <remove fileExtension=".cshtml" />
          <add fileExtension=".cshtml" allowed="true" />
        </fileExtensions>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>

    <httpProtocol>
      <customHeaders>
        <remove name="x-powered-by" />
        <remove name="Content-Security-Policy" />
        <remove name="Arr-Disable-Session-Affinity" />
        <add name="Content-Security-Policy" value="object-src 'none';" />
        <add name="Arr-Disable-Session-Affinity" value="True" />
      </customHeaders>
    </httpProtocol>

    <defaultDocument>
      <files>
        <remove value="index.cshtml" />
        <add value="index.cshtml" />
      </files>
    </defaultDocument>

    <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <rewrite>
      <rules>
        <clear />
        <rule name="fingerprint" stopProcessing="true">
          <match url="(.+)(_([0-9]{18})+\.)([\S]+)" />
          <action type="Rewrite" url="{R:1}.{R:4}" />
        </rule>
        <rule name="paymentplan" stopProcessing="true">
          <match url="^go/(.*)" ignoreCase="true" />
          <action type="Rewrite" url="Register?plan={R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>